<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>franntik</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.fluid.classless.lime.min.css">
    <link rel="stylesheet" href="../../static/css/styles.css">

</head>
<body>
    <nav>
        <a href="index.html">Home</a>
        <a href="#">Other</a>
    </nav>
    <header id="hero">
        <h1>hello</h1>
    </header>
    <main>
        <p>welcome to franntik site :3</p>
        <br>
        <article>
            <h2>hello!!</h2>
            <p>:3</p>
            <footer>mmm</footer>
        </article>
    </main>
    <footer>
        mm feet
    </footer>
</body>
</html>